.booking_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:60vh;
}
.form_container{
    width:70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container form{
    width:70%;
    height:8em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 4px 8px 8px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.form_container .input_container{
    width:50%;
    position: relative;
}
.input_container input{
    width:90%;
}
.effect_1 {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}
.effect_1~.focus_border {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    top: 92%;
    height: 2px;
    background-color: #ed3330;
    transition: 0.4s;
}

.effect_1:focus~.focus_border {
    width: 90%;
    transition: 0.4s;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.selectseat_container{
    height:30%;
    display: flex;
    justify-content: space-between;
}
.selectseat_container span{
    width:30%;
    height:100%;
    background: #ed3330;
    color:white;
    font-size:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.selectseat_container input{
    width:30%;
    border: none;
    outline: none;
    text-align: center;
}
.booking_summary_container{
    box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.2);
    height:90%;
    width: 25%;
    display: flex;
    flex-direction: column;
}
.booking_summary_container .header {
    height:15%;
    background: #ed3330;
    text-align: center;
    color: #fff;
}
.booking_summary_container .header h3 {
    font-size: 28px;
    margin-top:2%;
}
.booking_summary_container h4{
    font-size: 18px;
    margin-left:5%;
    margin-top:5%;
    margin-bottom: 1%;
    font-family: sans-serif;
    color: #530806;
}
.booking_summary_container button{
    width:60%;
    height:3.5em;
    border-radius: 4px;
    border:none;
    background: #ed3330;
    margin: 0 auto;
    margin-top:5%;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
}