.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 40%;
    height:auto;
    border: 1px solid rgb(70, 65, 65);
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    right: 50%;
    top:50%;
    transform:translate(50%,-50%);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.openModal{
    animation:modalOpen 0.5s ease-out forwards;
}
.closeModal{
    animation:modalClose 0.4s ease-out forwards;
}
@keyframes modalOpen{
    0%{
        opacity:0;
        top:0%;
        transform:translateY(50%, -100%);
    }
    50%{
       opacity:1;
       transform:translate(50%,-20%);
    }
    100%{
        opacity: 1;
        transform:translate(50%, -50%);
    }
}
@keyframes modalClose {
    0% {
        opacity: 1;
        transform:translate(50%, -50%);
    }

    50% {
        opacity: 0.8;
        transform:translate(50%, -30%);
    }

    100% {
        opacity:0;
        transform: translateY(50%, -100%);
    }
}
@media screen and (max-width: 400px) {
    .Modal {
        width: 90%;
    }
}