.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    height:auto;
    border: 1px solid rgb(70, 65, 65);
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top:8%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.openModal{
    animation:modalOpen 0.5s ease-out forwards;
}
.closeModal{
    animation:modalClose 0.4s ease-out forwards;
}
@keyframes modalOpen{
    0%{
        opacity:0;
        transform:translateY(-100vh);
    }
    50%{
       opacity:1;
       transform:translateY(10%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes modalClose {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 0.8;
        transform: translateY(10%);
    }

    100% {
        opacity:0;
        transform: translateY(-100vh);
    }
}
@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}