.body_container{
    width:80%;
    margin:2% auto;
    overflow-x:auto;
    height:70vh
}
.body_container h3{
    color:black;    
}
.body_container .line_separator{
    width:17em;
    border-top:2px solid #ed3330;
    margin-top:1%
}
.results_container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top:3%;
    padding-left:2%;
    padding-top:2%
}
.result_card{
    width:80%;
    height:10em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-content: space-around;
}
.result_card h4{
    margin-top:2%;
    margin-bottom: 2%;
    text-align: center;
}
.result_card h4:nth-child(1){
    font-size: 22px;
    color:#ed3330;
    font-family: sans-serif;
}
.result_card h4:nth-child(2){
    font-size: 16px;
    text-transform: capitalize;
}