
.home img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 34em;
  width: 100%;
}
.pic {
  background: linear-gradient(rgba(59, 1, 1, 0.3), rgba(48, 1, 1, 0.3)) , url('../../assets/bus4.jpg');
  background-size: cover;
  background-position: center;
  height: 34em;
  /* position: relative;
  top: 0;
  left: 0; */
  z-index: 1;
  padding: 0;
}


.pic nav ul {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #ed3330de 25%,
    #ed3330da 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(248, 244, 244, 0.6);
    margin-top: 0;
}

.pic nav ul li {
  display: inline-block;
}

.pic nav ul li a {
  padding: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: #ffcdd2;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.pic nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(22, 18, 18, 0.6);
  background: rgba(22, 20, 20, 0.568);
  color: #ffcdd2;
}
.row {
  width: 85%;
  height: 13%;
  background: #fff;
  margin-top: 15%;
  margin-left: 7%;
  position: relative;
  border-radius: 5px 5px 5px 5px;
}
p {
  /* height: 0px; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
  font-size: 75%;
  margin-top: 5%;
}
.col_8 {
  /* float: ; */
  width: 27.33%;
  /* margin: 50px 5%;  */
  margin-top: -10%;
  margin-left: -1%;
  position: absolute;
}
h3 {
  color: white;
}
.col_3 {
  /* float: ; */
  width: 27.33%;
  /* margin: 50px 5%;  */
  margin-top: -1%;
  margin-left: 2%;
  position: absolute;
}
.col_4 {
  /* float: ; */
  width: 27.33%;
  /* margin: 50px 5%;  */
  margin-top: -1%;
  margin-left: 30%;
  position: absolute;
}
.col_6 {
  /* float: ; */
  width: 27.33%;
  /* margin: 50px 5%;  */
  margin-top: 1%;
  margin-left: 25%;
  position: absolute;
}
.swap {
  color: grey;
}
.col_5 {
  /* float: ; */
  width: 27.33%;
  /* margin: 50px 5%;  */
  margin-top: -1%;
  margin-left: 53%;
  position: absolute;
}
.col_5 input[type="date"]{
  font: 15px/24px "Lato", Arial, sans-serif;
  color: grey;
  background: #fff;
  width: 80%;
  box-sizing: border-box;
  letter-spacing: 1px;
  margin-top: -10%;
}
.col_7 {
  /* float: ; */
  width: 27.33%;
  /* margin: 50px 5%;  */
  margin-top: 1%;
  margin-left: 80%;
  position: absolute;
}
/* necessary to give position: relative to parent. */
.row input[type="text"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: grey;
  background: #fff;
  width: 80%;
  box-sizing: border-box;
  letter-spacing: 1px;
  margin-top: -10%;
  /* height: 20px; */
}
:focus {
  outline: none;
}

.effect_1 {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect_1 ~ .focus_border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ed3330;
  transition: 0.4s;
}
.effect_1:focus ~ .focus_border {
  width: 80%;
  transition: 0.4s;
}

.example_a {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 15px;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.example_a:hover {
  background: #e4201d;
  letter-spacing: 1px;
  /* -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
          -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); */
  /* box-shadow: 5px 40px -10px rgba(0,0,0,0.57); */
  transition: all 0.4s ease 0s;
}

.card {
  width: 360px;
  height: 360px;
  background: #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: 10% auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

}

.card span {
  height: 100%;
  left: 0;
  background: linear-gradient(rgba(240, 56, 56, 0.720), rgba(240, 56, 56, 0.726)), url('../../assets/team.jpg');
  position: absolute;
  transition: 1s;
  width: 100%;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;

}

.card span:nth-child(1) {
  z-index: 10;
  width: 25%;
  transition-delay: 0;
}

.card span:nth-child(2) {
  z-index: 9;
  width: 50%;
  transition-delay: 0.2s;
}

.card span:nth-child(3) {
  z-index: 8;
  width: 75%;
  transition-delay: 0.4s;
}

.card span:nth-child(4) {
  z-index: 7;
  width: 100%;
  transition-delay: 0.6s;
}

.card:hover span {
  transform: translateY(-100%);
  transition: 0.5s;
}

.card:hover span:nth-child(1) {
  transition-delay: 0.6s;
}

.card:hover span:nth-child(2) {
  transition-delay: 0.4s;
}

.card:hover span:nth-child(3) {
  transition-delay: 0.3s;
}

.card:hover span:nth-child(4) {
  transition-delay: 0s;
}

.content {
  color: #fff;
  text-align: center;
  padding: 80px 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: 1s;
}

.content p {
  color: #999;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content h2 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.lap {
  margin-left: 173%;

}

.he {
  margin-top: 140%;
  margin-left: 134%;
}

.hr {
  margin-top: 140%;
  margin-left: 130%;
}

.ht {
  margin-top: 140%;
  margin-left: 162%;
}

.content a {
  width: 100px;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #fff;
  display: block;
  margin: auto;
  padding: 10px;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.card:hover .content {
  transform: translateY(0%);
}

.card2:hover .content {
  transform: translateY(0%);
}

.card3:hover .content {
  transform: translateY(0%);
}



.flex_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto; 
  align-items: center;
  bottom: 1%;
  left: 7%;
  z-index: 2;
  -webkit-animation: mymove 5s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
}

.card2 span {
  height: 100%;
  left: 0;
  background: linear-gradient(rgba(219, 136, 12, 0.87), rgba(228, 146, 23, 0.671)), url('../../assets/certificate.jpg');
  position: absolute;
  transition: 1s;
  width: 100%;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;

}

.card3 span {
  height: 100%;
  left: 0;
  background: linear-gradient(rgba(16, 84, 185, 0.733), rgba(42, 55, 75, 0.596)), url('../../assets/coding.jpg');
  position: absolute;
  transition: 1s;
  width: 100%;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;

}

.card2 {
  width: 360px;
  height: 360px;
  background: #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: 10% auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

}

.card3 {
  width: 360px;
  height: 360px;
  background: #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: 10% auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

}

.card2 span:nth-child(1) {
  z-index: 10;
  width: 25%;
  transition-delay: 0;
}

.card2 span:nth-child(2) {
  z-index: 9;
  width: 50%;
  transition-delay: 0.2s;
}

.card2 span:nth-child(3) {
  z-index: 8;
  width: 75%;
  transition-delay: 0.4s;
}

.card2 span:nth-child(4) {
  z-index: 7;
  width: 100%;
  transition-delay: 0.6s;
}

.card2:hover span {
  transform: translateY(-100%);
  transition: 0.5s;
}

.card2:hover span:nth-child(1) {
  transition-delay: 0.6s;
}

.card2:hover span:nth-child(2) {
  transition-delay: 0.4s;
}

.card2:hover span:nth-child(3) {
  transition-delay: 0.3s;
}

.card2:hover span:nth-child(4) {
  transition-delay: 0s;
}

.card3 span:nth-child(1) {
  z-index: 10;
  width: 25%;
  transition-delay: 0;
}

.card3 span:nth-child(2) {
  z-index: 9;
  width: 50%;
  transition-delay: 0.2s;
}

.card3 span:nth-child(3) {
  z-index: 8;
  width: 75%;
  transition-delay: 0.4s;
}

.card3 span:nth-child(4) {
  z-index: 7;
  width: 100%;
  transition-delay: 0.6s;
}

.card3:hover span {
  transform: translateY(-100%);
  transition: 0.5s;
}

.card3:hover span:nth-child(1) {
  transition-delay: 0.6s;
}

.card3:hover span:nth-child(2) {
  transition-delay: 0.4s;
}

.card3:hover span:nth-child(3) {
  transition-delay: 0.3s;
}

.card3:hover span:nth-child(4) {
  transition-delay: 0s;
}
.flex_container p {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 0 0 5%;
}


.footer_distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer_distributed .footer_left,
.footer_distributed .footer_center,
.footer_distributed .footer_right {
  display: inline-block;
  vertical-align: top;
}

.footer_distributed .footer_left {
  width: 40%;
}

h3 {
  color: #ffffff;
  font: normal 40px "Cookie", cursive;
  margin: 0;
}

h3 span {
  color: #ed3330;
}

.footer_distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer_distributed h3 span {
  color: #ed3330;
}

.footer_distributed .footer_links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer_distributed .footer_links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer_distributed .footer_company_name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer_distributed .footer_center {
  width: 35%;
}

.footer_distributed .footer_center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer_distributed .footer_center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer_distributed .footer_center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer_distributed .footer_center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer_distributed .footer_center p a {
  color: #ed3330;
  text-decoration: none;
}

.footer_distributed .footer_right {
  width: 20%;
}

.footer_distributed .footer_company_about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer_distributed .footer_company_about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer_distributed .footer_icons {
  margin-top: 25px;
}

.footer_distributed .footer_icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer_distributed {
    font: bold 14px sans-serif;
  }

  .footer_distributed .footer_left,
  .footer_distributed .footer_center,
  .footer_distributed .footer_right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer_distributed .footer_center i {
    margin-left: 0;
  }

  .main {
    line-height: normal;
    font-size: auto;
  }
}
