.form_container{
    width:100%;
    height:auto;
    margin: 10% auto;
    padding:2% 0;
}
.form_container input[type=number]::-webkit-inner-spin-button,
.form_container input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form_container h3{
    color:black;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header h3{
    color:black;
}
.header h3 span{
    color:#e4201d;
}
.input_container{
    width:100%;
    height:4em;
    padding-left:8%;
    position:relative
}
.input_container input{
    width:70%;
    border:none;
    border-bottom:1px solid rgba(0, 0, 0, 0.36);
    outline: none;
}
.name_container{
    width:100%;
    height:4em;
    padding-left:8%;
    display: flex;
    flex-direction: row;
}
.name_field_container{
    width: 50%;
    position: relative;
}
.name_field_container input{
    width:70%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.36);
    outline: none;
}
.submit_container{
    width:60%;
    height:2em;
    margin:0 auto;
    border:4px solid black;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit_container span{
    font-size: 17px;
    cursor: pointer;
    width:100%;
    height:100%;
    text-align: center;
    padding-top:4%;
}
.effect_1 {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}
.name_field_container .effect_1 ~ .focus_border{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    top:48%;
    height: 2px;
    background-color: #ed3330;
    transition: 0.4s;
}
.name_field_container .effect_1:focus~.focus_border {
    width: 70%;
    transition: 0.4s;
}
.effect_1 ~ .focus_border {
    position: absolute;
    bottom: 0px;
    left: 7.5%;
    width: 0;
    top:48%;
    height: 2px;
    background-color: #ed3330;
    transition: 0.4s;
}

.effect_1:focus~.focus_border {
    width: 65%;
    transition: 0.4s;
}